
<div class="card" style="width: 18rem;">
  <div class="card-body container">
    <h3 class="card-title">Add new post</h3>
  <form action="/add-post" method="post">
  <h4>Picture:</h4> <input id="newPic" type="file" name="picPath" placeholder=""><br>
  <h4>Content:</h4> <input type="text" name="content"><br><br>
  <button class = "btn btn-default" type="submit">Publish</button>
</form>
  </div>
</div>
